{% extends 'base.html' %}


{% block page_name %}

    {{page}} page
    
{% endblock page_name %}
    
{% block content %}

    {% for room in page.object_list %}
    <h3> {{room.name}} / {{room.price}}</h3>
    {% endfor %}
    

    {% if page.has_previous %}
        <a href="?potato={{page.previous_page_number}}">Previous</a>
    {% endif %}

    page {{page.number}} of {{page.paginator.num_pages}}

    {% if page.has_next %}
        <a href="?potato={{page.next_page_number}}">Next</a>
    {% endif %}


{% endblock content %}
    
