{% extends 'base.html' %}


{% block page_title %}

    {{room.name}}
{% endblock page_title %}
    
{% block content %}
<div class="ml-4">
    <div>  
        <h2>{{room}}</h2>
        <h4>{{room.description}}</h4>
        <h4>{{room.room_type}}</h4>
    </div>
    <div>
        <h5><a href="{% url "users:profile" room.host.pk %}">by {{room.host.username}}</a> </h5>
        {% if room.host.superhost%}
            (superhost)
        {% else %}
            (not superhost)
        {% endif %}
    
        <h4>Amenities</h4>
        <ul>
        {% for a in room.amenities.all%}
            <li>{{a}}</li>
        {% endfor %}
        </ul>
    
          <h4>Facilities</h4>
        <ul>
        {% for f in room.facilities.all%}
            <li>{{f}}</li>
        {% endfor %}
        </ul>
    
          <h4>House Rules</h4>
        <ul>
        {% for r in room.house_rules.all%}
            <li>{{r}}</li>
        {% endfor %}
        </ul>
    </div>
    
    <div>
      
        <h2><a href="{% url "rooms:edit" room.pk%}">Edit Room</a></h2>
       
    </div>
</div>

    
{% endblock content %}