{% extends 'base.html' %}


{% block page_title %}

    Room Edit
    
{% endblock page_title %}


{% block search-bar %}
    
{% endblock search-bar %}
    
    
{% block content %}

<div class="container mx-auto flex flex-col items-center">
    <form method="post" action="{% url "rooms:edit" room.pk %}">
    {% csrf_token %}

    {{form.as_p}}

<div class="flex justify-center my-5"><button class="bg-red-400 text-white py-2 px-12 rounded-xl">Update</button></div>
</form>
<a href="{% url "rooms:edit-photo" room.pk %}" class="bg-yellow-400 py-2 px-8 rounded-xl text-white mb-5">Edit Photos</a>
</div>





{% endblock content %}