{% extends 'base.html' %}


{% block page_title %}

    {{room.name}}'s Photos
    
{% endblock page_title %}


{% block search-bar %}
    
{% endblock search-bar %}
    
    
{% block content %}

<div class="container mx-auto flex flex-col ">
    <div class="bg-indigo-400 w-1/6 px-4 py-2 text-white text-center mb-5 rounded-md">
        <a href="{% url "rooms:add-photo" room.pk %}" >Upload photos</a></div>
    
    {% for photo in room.photos.all %}
    <div class="flex justify-between">
        <div class="flex justify-start mb-5 items-center">
            <img src="{{photo.file.url}}" class="w-32 h-32 bg-cover bg-center">
            <span class="ml-5">{{photo}}</span>
        </div>
    
        <div class="flex flex-col justify-evenly w-1/6">
            <a class="bg-red-600 py-2 text-center text-white rounded-md" href="{% url "rooms:update-photo" room.pk photo.pk%}">Edit</a>
            <a class="bg-yellow-400 py-2 text-center text-white rounded-md" href="{% url "rooms:delete-photo" room.pk photo.pk%}">Delete</a>
        </div>
    </div>
    
      
    {% endfor %}

    <div class="flex justify-center">
        <a class="text-indigo-400 text-lg font-medium my-5" href="{% url "rooms:edit" room.pk%}">Back to edit room</a>
    </div>
        
    
</div>


{% endblock content %}