{% extends 'base.html' %}


{% block page_title %}
    Search
{% endblock page_title %}
    
    
    {% block search-bar %}
        
    {% endblock search-bar %}
        

{% block content %}

    <h2>Search</h2>
    <form method="get" action="{% url "rooms:search" %}">
        {{form.as_p}}
        <button>Search</button>
        
    </form>

    <h3>Results</h3>

    {% for room in rooms%}
        <h3>{{room}}</h3>
    {%endfor%}


    {% if rooms.has_previous %}  <!--ListView는 page_obj로 그 page의 object를 가져 올 수 있다.-->
        <a href="{{url}}&page={{rooms.previous_page_number}}">Previous</a><!--원래 potato로 했다가 ListView는 기본적으로 page를 가져와서-->
    {% endif %}

    page {{rooms.number}} of {{rooms.paginator.num_pages}}

    {% if rooms.has_next %}
        <a href="{{url}}&page={{rooms.next_page_number}}">Next</a>
    {% endif %}

{% endblock content %}
    