@tailwind base;
@tailwind components;


.search-box {
    transition: box-shadow 1s linear;
}

.nav_link{
    @apply ml-8 border-b-2 border-white hover:border-blue-400 h-full flex items-center;
    a {
        @apply py-10 px-5;
    }
}

.btn {
  @apply text-center rounded-sm py-3 font-light text-lg w-3/5;
}

input, select, textarea {
    @apply rounded-sm mt-2 px-8 py-2 font-light text-lg w-full text-left border border-gray-600;
    &:focus {
      @apply outline-none border-red-400;
    }
  }

textarea {
  resize: none;
  height: 100px;
}


form {
  .input {
      @apply mb-3 w-3/5;
      &.has_error {
        input {
          @apply bg-red-200 border-gray-400;
          &:focus {
            @apply border-gray-600;
        }
      }
    }
  }
}

.border-section {
  @apply border-b border-gray-400 pb-4 mt-5;
}

@tailwind utilities;