{% extends 'base.html' %}


{% block page_title %}

    Login
    
{% endblock page_title %}


{% block search-bar %}
    
{% endblock search-bar %}
    
    
{% block content %}
<div class="container lg:w-3/5 mx-auto flex flex-col items-center py-10 border border-gray-400">
    {% include 'partials/social_login.html' %}
    {% include 'mixins/form_author.html'  with form=form cta="Login"%}

    <div class="mt-4 ">
        <span class="mr-2">Don't u have any account?</span>
        <a href="{% url "users:signup" %}" class="text-green-500">Sign up</a>
    </div>
</div>

{% endblock content %}
    
