{% extends 'base.html' %}


{% block page_title %}

    {{user_obj.first_name}}'s Profile
    
{% endblock page_title %}


{% block search-bar %}
    
{% endblock search-bar %}
    
    
{% block content %}
<div class="h-full">
    <div class="container lg:w-3/5 mx-auto flex flex-col items-center py-10 border border-gray-400">
        {% include 'mixins/user_avatar.html' %}
     
         <span class="text-3xl mb-3">{{user_obj.first_name}}
             
             {% if user_obj.superhost %}
             <i class="fas fa-check-circle text-pink-400 ml-1"></i>
                 
             {% endif %}
                 
         </span>
         <span class="text-xl">{{user_obj.bio}}</span>
         
         {% if  user == user_obj %}
         <a href="{% url "users:update" user.pk %}" class="btn bg-red-400 mt-3 text-white rounded-md">Edit Profile</a> 
         {% endif %}
             
         
     </div>
     
     {% if user_obj.rooms.count > 0 %}
     <div class="container mx-auto flex flex-col items-center mt-5">
         <h3>{{user_obj.first_name}}'s Room</h3>
         <div class="flex flex-wrap mt-5">
             {% for room in user_obj.rooms.all %} 
                 {% include 'partials/room_card.html' with room=room %}
         
             {% endfor %}
             </div>
     </div>
     {% endif %}
         
     {% endblock content %}
</div>
